{
    "presets":[
        [
            "@babel/preset-env", 
            {
                "targets": {
                    "browsers": ["> 1%", "last 2 versions"]
                }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties"
    ]
}

// babel configuration makes sure to transpile modern js es6 code into older code that most browsers can understand!!!!!!!!!!